# Directorios de Maven
/target/
!.mvn/wrapper/maven-wrapper.jar
/.mvn/wrapper/maven-wrapper.properties

# Directorios de IntelliJ IDEA
/.idea
*.iml

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de entorno
.env

# Logs
/logs
*.log

# Archivos temporales
/tmp
